---
title: 'Pixel Perfect Websites'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css" />
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}


<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1159">
    <div class="cs-container">
        <div class="cs-content">
            <!-- <span class="cs-topper">The Best Care Servicing In Town</span> -->
            <h1 class="cs-title">Small Business Web Design + Development
            </h1>
            <p class="cs-text">
                Forget page builders & WordPress. Our websites are 100% hand-coded for optimum performance, starting at $190.
            </p>
            <!-- <a href="" class="cs-button-solid">Explore Services</a> -->
            <div id="csa-button-box-hero-1">
                <a href="" class="cs-button-solid-hero" aria-label="get in touch with us">Get In Touch</a>
                <a href="" class="cs-button-solid-hero cs-button-transparent" araia-label="learn more about us">Learn More</a>
            </div>
        </div>
        <!-- Person, to make your own crop of a person, visit https://www.remove.bg to do it for you -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="./assets/images/image-of-devices.png">
            <source media="(min-width: 601px)" srcset="./assets/images/image-of-devices.png">
            <img decoding="async" src="./assets/images/image-of-devices.png" alt="person" width="698" height="844" aria-hidden="true">
        </picture>
    </div>

    <!--SVG V Graphic-->
    <img class="cs-graphic" decoding="async" src="./assets/images/triangleAsymmetricalNegative-2.png" alt="graphic" width="1920" height="163" aria-hidden="true">

    <!-- Background Image, also BG Image is set in CSS at 1600px wide for parallax effect -->
    <picture class="cs-background">
        <!-- <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/garage.jpg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/garage.jpg">
        <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/garage.jpg" alt="garage" width="2250" height="1500" aria-hidden="true"> -->
    </picture>
</section>
                                


                                
                                               
    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->
    
<section id="services-448">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Why Us</span>
            <h2 class="cs-title">What We Do</h2>
            <p class="cs-text">
                We are experts in developing and designing small business websites for clients all over New Zealand. Every line of code is handwritten to ensure peak performance, and to boost website traffic, and boost revenue for your company.            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-flex">
                    <picture class="cs-wrapper">
                        <img class="cs-icon cs-reduce" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/sbs-1/mobile-phone.svg" alt="icon" width="70" height="70">
                    </picture>
                    <h3 class="cs-h3">Mobile-First</h3>
                    <p class="cs-item-text">We begin by building your website for mobile devices and then expand it to fit tablets and desktops.</p>
                    <!-- <a href="" class="cs-link">Read More</a> -->
                </div>
                <picture class="cs-picture csa-pic-1">
                    <source media="(max-width: 600px)" srcset="/assets/images/sbs1--rahul-chakraborty-xsGxhtAsfSA-unsplash.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/sbs1--rahul-chakraborty-xsGxhtAsfSA-unsplash.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/sbs1--rahul-chakraborty-xsGxhtAsfSA-unsplash.jpg" alt="leaf" width="345" height="428">
                </picture>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/sbs-1/desktop-pc.svg" alt="icon" width="70" height="70">
                    </picture>
                    <h3 class="cs-h3">Fully Responsive</h3>
                    <p class="cs-item-text">Your website will fit all mobile, tablet, and desktop screens, allowing clients to access it from anywhere.</p>
                    <!-- <a href="" class="cs-link">Read More</a> -->
                </div>
                <picture class="cs-picture csa-pic-2">
                    <source media="(max-width: 600px)" srcset="/assets/images/sbs1-2--rudra-chakraborty-_uzlTogwsrU-unsplash.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/sbs1-2--rudra-chakraborty-_uzlTogwsrU-unsplash.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/sbs1-2--rudra-chakraborty-_uzlTogwsrU-unsplash.jpg" alt="grass" width="345" height="428">
                </picture>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <picture class="cs-wrapper">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/sbs-1/chart-mixed.svg" alt="icon" width="70" height="70">
                    </picture>
                    <h3 class="cs-h3">Optimization</h3>
                    <p class="cs-item-text">With 60% of internet traffic on mobile devices, we optimize your site for top mobile search performance.</p>
                    <!-- <a href="" class="cs-link">Read More</a> -->
                </div>
                <picture class="cs-picture csa-pic-3">
                    <source media="(max-width: 600px)" srcset="/assets/images/sbs-1-3--shahadat-rahman-BfrQnKBulYQ-unsplash.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/sbs-1-3--shahadat-rahman-BfrQnKBulYQ-unsplash.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/sbs-1-3--shahadat-rahman-BfrQnKBulYQ-unsplash.jpg" alt="leaves" width="345" height="428">
                </picture>
            </li>
        </ul>
    </div>
</section>
                                
<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->
<section id="services-1188">
    <div class="cs-container">
        <div class="cs-content">
            <!-- <span class="cs-topper">Other services</span> -->
            <h2 class="cs-title"><span class="highlight-word">$0</span> Down, <span class="highlight-word">$190</span> Per Month,
                <br/>12 Month Minimum Contract</h2>
            <p class="cs-text">
                Get high-performance 5-page business website with no upfront costs. For larger projects, we offer custom pricing tailored to your specific needs, including additional pages and the time required.

                You have complete ownership over your domain, content, listings, and profiles. Rest assured that you can cancel any time with no fees and no hassle.            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon csa-icon-database"
                            src="/assets/svgs/all-services-sect/database-1.svg"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Hosting Fees Included</h3>
                    <p class="cs-item-text">Don’t worry about hosting fees, they’re included in the monthly payment.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" src="/assets/svgs/all-services-sect/infinite-2.svg"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Unlimited Edits</h3>
                    <p class="cs-item-text">You can make any changes to your pages that you want, and we’ll get it updated for you that day.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="/assets/svgs/all-services-sect/phone-call-1.svg"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">24/7 Customer Service</h3>
                    <p class="cs-item-text">Round-the-clock customer service. No phone trees or automated answers when you call, day or night.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="/assets/svgs/all-services-sect/browser-1.svg" loading="lazy"
                            decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Web Design & Development</h3>
                    <p class="cs-item-text">Over 50 hours of design development, design and testing included.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="/assets/svgs/all-services-sect/speedometer-1.svg" loading="lazy"
                            decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">100 Google Page Speed Score</h3>
                    <p class="cs-item-text">We work to optimize your website to ensure your customers have the best possible experience.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon csa-icon-design"
                            src="/assets/svgs/all-services-sect/graphics-and-design-1.svg"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Logo & Graphic Design</h3>
                    <p class="cs-item-text">We offer free design services your business logo and social media post templates.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="/assets/svgs/all-services-sect/chart-line-up-1.svg" loading="lazy"
                            decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Google Analytics</h3>
                    <p class="cs-item-text">We offer free installation of Analytics to track and find where your customers are coming from.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="/assets/svgs/all-services-sect/search-1.svg" loading="lazy"
                            decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">SEO*</h3>
                    <p class="cs-item-text">SEO Specialists on-hand to get more traffic to your website.</p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon"
                            src="/assets/svgs/all-services-sect/logo-instagram-1.svg"
                            loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                </picture>
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Startup Photography & Auto-Messaging*</h3>
                    <p class="cs-item-text">We also offer initial photography services for your business and can set up auto-messaging.</p>
                </div>
            </li>
        </ul>
        <a href="" class="cs-button-solid">Book Appointment</a>
    </div>
</section>


<!-- ============================================ -->
<!--                Meet the Team                 -->
<!-- ============================================ -->

<section id="meet-team-1367">
    <div class="cs-container">
        <div class="cs-content">
            <!-- <span class="cs-topper">Our Team</span> -->
            <h2 class="cs-title">Who We Are</h2>
            <p class="cs-text">
                Hi, my name is AJ and I am a recent biomedical engineering gradwho also happens to be a skilled web developer and designer. I created this business with the goal of supporting my family while still being home to take care of my grandparents. It took me a year and a half of self-teaching to master the art of website creation, coding and design. Now, with over 3 years of development experience under my belt, I have successfully built several websites and apps, and have narrowed it down to a science.            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-picture-wrapper">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                                srcset="/assets/images/aj-1.jpg">
                        <source media="(min-width: 601px)"
                                srcset="/assets/images/aj-1.jpg">
                        <img decoding="async"
                                src="/assets/images/aj-1.jpg"
                                alt="person" width="413" height="374" aria-hidden="true">
                    </picture>
                    <!-- <div class="cs-social">
                        <a href="" class="cs-link" aria-label="Twitter" target="_blank" rel="noopener">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook1a.svg" alt="facebook"
                                        width="22" height="22">
                        </a>
                        <a href="" class="cs-link" aria-label="Linked in" target="_blank" rel="noopener">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram1a.svg" alt="instagram"
                                        width="17" height="16">
                        </a>
                        <a href="" class="cs-link" aria-label="Twitter" target="_blank" rel="noopener">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter1a.svg" alt="twitter"
                                        width="22" height="22">
                        </a>
                        <a href="" class="cs-link" aria-label="Linked in" target="_blank" rel="noopener">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async"
                                        src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube1a.svg" alt="youtube"
                                        width="17" height="16">
                        </a>
                    </div> -->
                </div>
                <div class="cs-info">
                    <span class="cs-name">AJ</span>
                    <span class="cs-job">Owner / Dev / Designer</span>
                </div>
            </li>
        </ul>
    </div>
    <!-- <div class="cs-bubbles" aria-hidden="true"></div> -->
</section>
                                

<!-- ============================================ -->
<!--                 Recent Posts                 -->
<!-- ============================================ -->

<section id="blog-1347">
    <div class="cs-container">
        <div class="cs-content">
            <!-- <span class="cs-topper">Our Blog</span> -->
            <h2 class="cs-title">Our Blog</h2>
            <!-- <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lobortis quam eu elit lobortis ultrices. Nulla ut accumsan lorem, sed molestie justo. Praesent vehicula eleifend.
            </p> -->
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a class="cs-link" href="/">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                            srcset="/assets/images/blog/laptop-code--goran-ivos-iacpoKgpBAM-unsplash.jpg">
                        <source media="(min-width: 601px)"
                            srcset="/assets/images/blog/laptop-code--goran-ivos-iacpoKgpBAM-unsplash.jpg">
                        <img decoding="async"
                            src="/assets/images/blog/laptop-code--goran-ivos-iacpoKgpBAM-unsplash.jpg"
                            alt="agency" width="413" height="374" aria-hidden="true">
                    </picture>
                    <div class="cs-item-text">
                        <h3 class="cs-h3">
                            Hand-coded websites vs Wordpress sites - which is better?                            
                            <picture class="cs-icon-wrapper">
                                <img class="cs-icon" decoding="async"
                                        src="/assets/svgs/upper-right-arrow.svg"
                                        alt="arrow" width="413" height="374" aria-hidden="true">
                            </picture>
                        </h3>
                        <div class="cs-info">
                            <span class="cs-date">
                                <img class="cs-date-icon" decoding="async"
                                        src="/assets/svgs/calendar-blue.svg"
                                        alt="calendar" width="413" height="374" aria-hidden="true">
                                07 Sep, 2022
                            </span>
                            <span class="cs-category">
                                Tools
                            </span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="cs-item">
                <a class="cs-link" href="/">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                            srcset="/assets/images/blog/watch-speed--saffu-E4kKGI4oGaU-unsplash.jpg">
                        <source media="(min-width: 601px)"
                            srcset="/assets/images/blog/watch-speed--saffu-E4kKGI4oGaU-unsplash.jpg">
                        <img decoding="async"
                            src="/assets/images/blog/watch-speed--saffu-E4kKGI4oGaU-unsplash.jpg"
                            alt="agency" width="413" height="374" aria-hidden="true">
                    </picture>
                    <div class="cs-item-text">
                        <h3 class="cs-h3">
                            Optimizing your website’s page speed score and core vitals                            <picture class="cs-icon-wrapper">
                                <img class="cs-icon" decoding="async"
                                        src="/assets/svgs/upper-right-arrow.svg"
                                        alt="arrow" width="413" height="374" aria-hidden="true">
                            </picture>
                        </h3>
                        <div class="cs-info">
                            <span class="cs-date">
                                <img class="cs-date-icon" decoding="async"
                                        src="/assets/svgs/calendar-blue.svg"
                                        alt="calendar" width="413" height="374" aria-hidden="true">
                                07 Sep, 2022
                            </span>
                            <span class="cs-category">
                                Performance
                            </span>
                        </div>
                    </div>
                </a>
            </li>
            <li class="cs-item">
                <a class="cs-link" href="/">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)"
                            srcset="/assets/images/blog/phone-n-tablet--obi-pixel8propix-AGZAliGQmP4-unsplash.jpg">
                        <source media="(min-width: 601px)"
                            srcset="/assets/images/blog/phone-n-tablet--obi-pixel8propix-AGZAliGQmP4-unsplash.jpg">
                        <img decoding="async"
                            src="/assets/images/blog/phone-n-tablet--obi-pixel8propix-AGZAliGQmP4-unsplash.jpg"
                            alt="agency" width="413" height="374" aria-hidden="true">
                    </picture>
                    <div class="cs-item-text">
                        <h3 class="cs-h3">
                            How to build a responsive, mobile-first website from scratch.                            <picture class="cs-icon-wrapper">
                                <img class="cs-icon" decoding="async"
                                        src="/assets/svgs/upper-right-arrow.svg"
                                        alt="arrow" width="413" height="374" aria-hidden="true">
                            </picture>
                        </h3>
                        <div class="cs-info">
                            <span class="cs-date">
                                <img class="cs-date-icon" decoding="async"
                                        src="/assets/svgs/calendar-blue.svg"
                                        alt="calendar" width="413" height="374" aria-hidden="true">
                                07 Sep, 2022
                            </span>
                            <span class="cs-category">
                                Tutorial
                            </span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <!-- <div class="cs-bubbles" aria-hidden="true"></div> -->
</section>
     

<!-- ============================================ -->
<!--                   Pricing                    -->
<!-- ============================================ -->

<section id="pricing-602">
    <div class="cs-container">
        <div class="cs-content">
            <!-- <span class="cs-topper">Pricing</span> -->
            <h2 class="cs-title">Pricing</h2>
            <!-- <p class="cs-text">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
            </p> -->
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-price-box">
                    <span class="cs-package">E-COMMERCE</span>
                    <span class="cs-price">$9K</span>
                    <!-- <span class="cs-desc">one-off</span> -->
                </div>
                <!-- <p class="cs-item-p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </p> -->
                <span class="cs-included">Whats Included?</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/tick-icon.svg" alt="checkmark" width="15" height="15">
                        $9,000 min up-front cost
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/tick-icon.svg" alt="checkmark" width="15" height="15">
                        Custom Designed
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/tick-icon.svg" alt="checkmark" width="15" height="15">
                        Custom Coded Shopify Integration
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/tick-icon.svg" alt="checkmark" width="15" height="15">
                        Easy to edit
                    </li>
                </ul>
                <a href="" class="cs-button-solid cs-price-button">CONTACT US</a>
            </li>
            <li class="cs-item">
                <div class="cs-price-box csa-middle-box">
                    <span class="cs-package">5-PAGE SITE</span>
                    <span class="cs-price">$190</span>
                    <span class="cs-desc">per month</span>
                </div>
                <!-- <p class="cs-item-p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </p> -->
                <span class="cs-included">What's Included?</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/tick-icon.svg" alt="checkmark" width="15" height="15">
                        Unlimited Edits
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/tick-icon.svg" alt="checkmark" width="15" height="15">
                        Includes Hosting
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/tick-icon.svg" alt="checkmark" width="15" height="15">
                        24/7 Customer Service
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/tick-icon.svg" alt="checkmark" width="15" height="15">
                        Lifetime Updates
                    </li>
                </ul>
                <a href="" class="cs-button-solid cs-price-button">Contact Us</a>
            </li>
            <li class="cs-item">
                <div class="cs-price-box">
                    <span class="cs-package">INCLUDED!</span>
                    <span class="cs-price">$0</span>
                    <!-- <span class="cs-desc">Free Sign Up</span> -->
                </div>
                <!-- <p class="cs-item-p">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                </p> -->
                <span class="cs-included">Whats Included?</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/tick-icon.svg" alt="checkmark" width="15" height="15">
                        2 revisions
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/tick-icon.svg" alt="checkmark" width="15" height="15">
                        All File Formats
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/tick-icon.svg" alt="checkmark" width="15" height="15">
                        Ready to use
                    </li>
                    <li class="cs-li">
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/tick-icon.svg" alt="checkmark" width="15" height="15">
                        FREE w/ subscription
                    </li>
                </ul>
                <a href="" class="cs-button-solid cs-price-button">Contact Us</a>
            </li>
        </ul>
    </div>
</section>
                                

    <!-- ============================================ -->
    <!--            Extra Content To Rank             -->
    <!-- ============================================ -->

    <section id="sbs-r">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/construction-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/construction.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/construction.jpg" alt="house" loading="lazy" width="400" height="560">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="cabinets" loading="lazy" width="400" height="560">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">SEO Ranking</span>
                <h2 class="cs-title">Talk about a main service keyword</h2>
                <p class="cs-text">
                    In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent nonatourean olei aptent taciti sociosqu ad litora torquent per.
                </p>
                <p class="cs-text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non tenetur, iure nihil ipsam qui atque commodi id voluptatem nesciunt, quis animi fuga cum doloribus! Eaque laboriosam, unde consectetur iure asperiores ullam. Consequuntur debitis a voluptatibus vitae optio autem explicabo quia neque est quas, in placeat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus modi laudantium voluptatibus rem libero error minus quia eligendi sapiente eos.
                </p>
                <a href="/blog" class="cs-button-solid">Read our Blog</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery">
        <div class="cs-container">
            <span class="cs-topper">Our Portfolio</span>
            <h2 class="cs-title">Et orci volutpat, back up generator installations</h2>
            <div class="cs-image-group">
                <!-- Row 1-->
                <div class="cs-row cs-row-1">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port1-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port1.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port1.jpg" alt="new hallway" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port4-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port4.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port4.jpg" alt="new home construction" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port7-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port7.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port7.jpg" alt="building a new wall" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 2 -->
                <div class="cs-row cs-row-2">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port2-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port2.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port2.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port5-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port5.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port5.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port8-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port8.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port8.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                    </picture>
                </div>
                <!-- Row 3 -->
                <div class="cs-row cs-row-3">
                    <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
                    <picture class="cs-picture cs-picture1">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port3-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port3.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port3.jpg" alt="new kitchen" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture2">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port6-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port6.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port6.jpg" alt="apartment addition" loading="lazy" width="400" height="560">
                    </picture>
                    <picture class="cs-picture cs-picture3">
                        <source media="(max-width: 600px)" srcset="/assets/images/portfolio/port9-m.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/portfolio/port9.jpg">
                        <img aria-hidden="true" decoding="async" src="/assets/images/portfolio/port9.jpg" alt="kew kitchen cabinets" loading="lazy" width="400" height="560">
                    </picture>

                </div>
            </div>
            <a href="/projects" class="cs-button-solid">View Full Gallery</a>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews">
        <div class="cs-container">
            <span class="cs-topper">Our Reviews</span>
            <h2 class="cs-title">Words From Our Customers</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit dolor volutpat porttitor sagittis nunc nisl. Sagittis sit pellentesque gravida viverra. Leo ut sed euismod tortor risus et. Ornare non neque, leo, ornare. Lorem ipsum dolor sit amet.
            </p>
            <ul class="cs-card-group">
                <!-- Review 1 -->
                <li class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile5.png"
                    alt="profile picture"
                    width="80"
                    height="80" />
                    <p class="cs-item-p">
                        Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
                    </p>
                    <span class="cs-reviewer">
                        Jon Doe
                        <span class="cs-desc">Homeowner</span>
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16" />
                </li>
                <!-- Review 2 -->
                <li class="cs-item">
                    <img
                    class="cs-item-img"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile-4.png"
                    alt="profile picture"
                    width="80"
                    height="80" />
                    <p class="cs-item-p">
                        Dictum dolor, nullam morbi sem in auctor proin. Consequat dolor habitasse nam sed tempor. Viverra magna pharetra rhoncus, nec sed ullamcorper lectus et. Auctor velit diam fermentum consequat. Feugiat viverra massa urna, volutpat orci imperdiet eget eget.
                    </p>
                    <span class="cs-reviewer">
                        Jane Doe
                        <span class="cs-desc">Homeowner</span>
                    </span>
                    <img
                    class="cs-item-stars"
                    aria-hidden="true"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
                    alt="stars"
                    width="96"
                    height="16" />
                </li>
            </ul>
            <a aria-label="read more reviews" href="/reviews" class="cs-button-solid">Our Reviews</a>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}