/* STYLES FOR ABOVE THE FOLD */


/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-1159 {
        /* 200px - 300px - leaving extra space for the navigation */
        // padding: clamp(12.5rem, 31.95vw, 18.75rem) calc(16 / 16 * 1rem) 0;
        padding: clamp(7.25rem, 16.82vw, 10.25rem) calc(16 / 16 * 1rem)
        clamp(3.75rem, 7.82vw, 6.25rem);
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: calc(630 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-topper {
            font-size: var(--topperFontSize);
            line-height: 1.2em;
            text-transform: uppercase;
            text-align: inherit;
            letter-spacing: 0.1em;
            font-weight: 700;
            color: var(--secondary);
            margin-bottom: calc(4 / 16 * 1rem);
            display: block;
        }

        .cs-title {
            /* 39px - 61px */
            font-size: clamp(2.2rem, 4vw, 3.2rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: inherit;
            max-width: calc(829 / 16 * 1rem);
            margin: 0 auto calc(16 / 16 * 1rem) 0;
            color: #fff;
            position: relative;
        }

        .cs-text {
            /* 16px - 20px */
            font-size: clamp(1rem, 1.95vw, 1.25rem);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            /* 464px - 622px */
            max-width: clamp(29rem, 60vw, 38.785rem);
            // margin: 0 0 calc(400 / 16 * 1rem) 0;
            color: #fff;
        }

        // .cs-button-solid {
        //     font-size: calc(16 / 16 * 1rem);
        //     /* 46px - 56px */
        //     line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        //     text-decoration: none;
        //     font-weight: 700;
        //     margin: 0;
        //     color: #fff;
        //     padding: 0 calc(24 / 16 * 1rem);
        //     background-color: var(--primary);
        //     display: inline-block;
        //     position: relative;
        //     z-index: 1;

        //     &:before {
        //         content: "";
        //         position: absolute;
        //         display: block;
        //         height: 100%;
        //         width: 0%;
        //         background: #000;
        //         opacity: 1;
        //         top: 0;
        //         left: 0;
        //         z-index: -1;
        //         transition: width 0.3s;
        //     }

        //     &:hover {
        //         &:before {
        //             width: 100%;
        //         }
        //     }
        // }

        // .cs-picture {
        //     /* 340px - 742px */
        //     height: clamp(21.25rem, 59vw, 46.375rem);
        //     width: 70%;
        //     max-width: calc(585 / 16 * 1rem);
        //     // width: auto;
        //     max-width: calc(700 / 16 * 1rem);
        //     display: flex;
        //     align-items: flex-end;
        //     justify-content: center;
        //     z-index: 1;

        //     img {
        //         height: 100%;
        //         width: auto;
        //     }
        // }

        .cs-picture {
            width: 70%;
            max-width: calc(585 / 16 * 1rem);
            /* 380px - 453px */
            height: auto;
            display: flex;
            margin: 2rem 0 0 0;
            z-index: 1;


            img {
                height: auto;
                width: 100%;
            }
        }

        .cs-graphic {
            width: 100%;
            height: auto;
            position: absolute;
            bottom: -1px;
            left: 0;
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;

            //csa Background gradient
            background: rgb(32,105,220);
            background: linear-gradient(129deg, rgba(32,105,220,1) 0%, rgba(161,0,217,1) 100%);

            // &:before {
            //     /* Overlay */
            //     content: "";
            //     width: 100%;
            //     height: 100%;
            //     background: #1a1a1a;
            //     opacity: 0.84;
            //     position: absolute;
            //     display: block;
            //     top: 0;
            //     left: 0;
            //     z-index: 1;
            //     /* prevents the cursor from interacting with it */
            //     pointer-events: none;
            // }

            // img {
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     height: 100%;
            //     width: 100%;
            //     object-fit: cover;
            //     /* makes the top of the image start at the top of the parent */
            //     object-position: top;
            // }
        }

        // .cs-button-transparent {
        //     font-size: calc(16 / 16 * 1rem);
        //     /* 46px - 56px */
        //     line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        //     // width: calc(180 / 16 * 1rem);
        //     text-decoration: none;
        //     font-weight: 700;
        //     letter-spacing: 0.044rem;
        //     text-align: center;
        //     margin: 0;
        //     color: #fff;
        //     background-color: transparent;

        //     // padding: 0;
        //     min-width: calc(150 / 16 * 1rem);
        //     padding: 0 calc(32 / 16 * 1rem);
        //     box-sizing: border-box;
        //     // display: inline-flex;
        //     display: inline-block;
        //     position: relative;
        //     z-index: 1;
        //     transition: background-color 0.3s;
        //     transition: border-color 0.3s;
        //     border-radius: 1.1rem;
            
        //     // height: clamp(2.875rem, 5.5vw, 3.5rem);
        //     border: 1px solid var(--bodyTextColorWhite);
        //     // justify-content: center;
        //     // align-items: center;

        //     &:hover {
        //         background-color: var(--oBlueNavy);
        //         border-color: var(--oBlueNavy);
        //     }

        //     .cs-img {
        //         display: block;
        //         margin-right: calc(12 / 16 * 1rem);
        //     }
        // }


        #csa-button-box-hero-1 {
            width: 100%;
            max-width: calc(550 / 16 * 1rem);
            margin-bottom: calc(32 / 16 * 1rem);
            display: flex;
            flex-wrap: wrap;
            gap: calc(24 / 16 * 1rem);
            transition: background-color 1s;
            transition: color 0.3s;
            
            justify-content: center;
    
            .cs-button-solid {
                max-width: 40vh;
                flex: 1 1 auto;
                line-height: none;
            }
    
            .cs-button-transparent {
                max-width: 40vh;
                flex: 1 1 auto;
                line-height: none;

                background-color: transparent;
                border: 1px solid var(--bodyTextColorWhite);
                color: var(--bodyTextColorWhite);
                box-sizing: border-box;
                &:hover {
                    background-color: var(--bodyTextColorWhite);
                    color: var(--bodyTextColor);
                }
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #hero-1159 {
        /* 150px - 300px */
        padding-bottom: clamp(9.375rem, 22vw, 18.75rem);

        .cs-container {
            flex-direction: row;
            justify-content: flex-start;
        }

        .cs-content {
            text-align: left;
            width: 55%;
            max-width: calc(630 / 16 * 1rem);
            align-items: flex-start;
        }

        .cs-picture {
            justify-content: flex-start;
            position: absolute;
            bottom: 0;
            left: 50%;
        }

        #csa-button-box-hero-1 {
            justify-content: flex-start;
        }
    }
}

/* Large Desktop - 1600px - Prallax Effect */
@media only screen and (min-width: 100rem) {
    #hero-1159 {
        .cs-background {
            background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/garage.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            img {
                display: none;
            }
        }
    }
}
                                

/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

@media only screen and (min-width: 0rem) {
    #services-448 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes at 1280px at tablet */
            // max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            /* 16px - 20px */
            column-gap: clamp(1rem, 1.5vw, 1.25rem);
            /* 24px - 60px */
            row-gap: clamp(1.5rem, 5vw, 3.75rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            max-width: calc(360 / 16 * 1rem);
            /* changes at desktop */
            padding-top: calc(144 / 16 * 1rem);
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &:hover {
                .cs-picture {
                    img {
                        transform: scale(1.2);
                        opacity: 0.4;
                    }
                }

                .cs-flex {
                    &:before {
                        opacity: 1;
                    }
                }
            }
        }

        .cs-picture {
            width: 100%;
            /* changes at desktop */
            height: calc(250 / 16 * 1rem);
            border-radius: calc(8 / 16 * 1rem);
            background-color: var(--primary);
            /* clips the corners of the image */
            overflow: hidden;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            background-color: #818181;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes it behave like a background image */
                object-fit: cover;
                /* positions top of image to the top of the container */
                object-position: top;
                transition:
                    transform 0.9s,
                    opacity 0.5s;
            }

        }

        .csa-pic-1 img {
            opacity: 0.6;
        }
        
        .csa-pic-2 img {
            opacity: 0.7;
        }

        .csa-pic-3 img {
            opacity: 0.8;
        }

        .cs-flex {
            text-align: center;
            width: 88%;
            padding: 0 calc(24 / 16 * 1rem) calc(24 / 16 * 1rem)
                calc(24 / 16 * 1rem);
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            border: 1px solid #dad9e3;
            border-radius: calc(12 / 16 * 1rem);
            background-color: #fff;
            box-shadow: 0px 24px 54px rgba(87, 107, 147, 0.12);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            &:before {
                /* hover border box */
                content: "";
                background: transparent;
                /* prevents the mouse from interacting with it */
                pointer-events: none;

                border-radius: calc(12 / 16 * 1rem);
                /* prevents border from affecting height and width */
                box-sizing: border-box;
                opacity: 0;
                position: absolute;
                display: block;
                top: -1px;
                left: -1px;
                right: -1px;
                bottom: -1px;
                transition: opacity 0.5s;

                border: 4px solid var(--oGradientBlue);
            }
        }

        .cs-wrapper {
            /* 80px - 120px */
            width: clamp(5rem, 9.2vw, 7.5rem);
            height: clamp(5rem, 9.2vw, 7.5rem);
            /* 20px - 24px */
            margin: 0 0 clamp(1.25rem, 1.5vw, 1.5rem);
            /* we use the same clamp value for height & width, but multiple by -.5 so it will be a negative value, and be half of the height.  Negative margins pull things toward the element so they overlap them, in this case we want the .cs-wrapper to overlap .cs-flex by half its height, so we use the same clamp for height and half it for the margin top value */
            margin-top: calc(clamp(5rem, 9.2vw, 7.5rem) * -0.5);
            border-radius: 50%;
            background-color: #fff;
            /* prevents border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 10;

            // gradient border circle
            border: 4px solid transparent;
            background-image:   linear-gradient(white, white), 
                                linear-gradient(135deg, var(--oGradientBlue), var(--oGradientPurple));
            background-origin: border-box;
            background-clip: content-box, border-box;
        }

        .cs-icon {
            width: clamp(2rem, 2vw, 4rem);
            height: auto;
            display: block;

            .cs-reduce{
                width: clamp(1.5rem, 1.2vw, 2rem);
            }
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 1.9vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 calc(8 / 16 * 1rem) 0;
            color: var(--headerColor);
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            font-weight: 400;
            /* 20px - 24px */
            margin: 0 0 clamp(1.25rem, 1.5vw, 1.5rem);
            color: var(--bodyTextColor);
        }

        .cs-link {
            /* 16px - 20px */
            font-size: clamp(1rem, 1.5vw, 1.25rem);
            line-height: 1.5em;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
            margin: 0;
            color: var(--primary);
            display: inline-block;
            position: relative;

            &:hover {
                &:before {
                    width: 100%;
                }
            }

            &:before {
                /* animated underline */
                content: "";
                width: 0%;
                height: 3px;
                background: currentColor;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: calc(-2 / 16 * 1rem);
                left: 0;
                transition: width 0.3s;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-448 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
        }

        .cs-card-group {
            flex-direction: row;
        }

        .cs-item {
            width: 47%;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #services-448 {
        .cs-card-group {
            flex-wrap: nowrap;
        }
        .cs-item {
            width: 100%;
            /* 144px - 274px */
            padding-top: clamp(9rem, 17.5vw, 17.125rem);
        }

        .cs-picture {
            /* 224px - 428px */
            height: clamp(14rem, 28vw, 26.75rem);
        }
    }
}

/* Dark Mode */
// @media only screen and (min-width: 0rem) {
//     body.dark-mode {
//         #services-448 {
//             .cs-topper {
//                 color: var(--primaryLight);
//             }

//             .cs-title {
//                 color: var(--bodyTextColorWhite);
//             }

//             .cs-text {
//                 color: var(--bodyTextColorWhite);
//                 opacity: 0.8;
//             }

//             .cs-flex,
//             .cs-wrapper {
//                 background-color: var(--medium);
//             }

//             .cs-icon {
//                 filter: grayscale(1) brightness(2000%);
//             }

//             .cs-h3,
//             .cs-item-text {
//                 color: var(--bodyTextColorWhite);
//             }

//             .cs-link {
//                 color: var(--primaryLight);
//             }
//         }
//     }
// }
